.ipynb_checkpoints/
.idea/
venv/
venv*/
venv_py27/
venv_py35/
venv_py36/

apps/result*

*.pyc
*.pyo
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/

*.pyc
*.pkl
*.csv
*.h5
